{% extends "base.html" %} {% block titulo %}Ofertas {% endblock %}

{% block contenido_principal %}
<div class="container">
    <h2 style="height: 50px">Lista de ofertas disponibles</h2>
    <div class="row">
        <div style="height: 50px" id="custom-search-input ">
            <form method="get" action="/ofertas">
                <div
                        class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                    <input type="text" class="search-query form-control"
                           placeholder="Busca una oferta" name="busqueda"/>
                    <span class="input-group-btn">
						<button class="btn" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover"
               id="tableOffers">
            <thead>
            <tr>
                <th class="col-md-2">Título</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in lsOfertas %}
            <tr>
                <td>{{oferta.title}}</td>
                <td>{{oferta.description}}</td>
                <td>{{oferta.price}}</td>
                {% if oferta.sold %}
                <td>Vendida</td>
                {% else %}
                {% if oferta.price <= wallet %}
                <td><a href="/oferta/comprar/{{oferta._id.toString()}}/{{oferta.price}}">Comprar</a></td>
                {% else %}
                <td>Saldo insuficiente</td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for pagina in paginas %}
            <li class="page-item" id="pi-{{ pagina}}">
                <a class="page-link" href="/ofertas?pg={{ pagina }}">{{ pagina }}</a>
            </li>
            {% endfor %}
            <script>
                $("#pi-{{ actual}}").addClass("active");
            </script>
        </ul>
    </div>
</div>


{% endblock %}
